.navbar{
    top: 0;
    left: 0;
    right: 0;
    padding: 5vw;
    display: flex;
    gap: 10vw;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    margin: 0 auto;
    height: 18vh;
    position: fixed;
}

.logo{
    width: auto;
    height: 3.5vw;
}

.nav-links {
    width: 47vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 86px;
    padding: 1vw 1vw;
    height: 3.5vw;
    font-weight: bold;
    font-size: 1vw;
}


/* Removed gliding effect. Active link will be styled simply. */

.active-link, .inactive-link {
    display: inline-flex;
    align-items: center;
    padding: 0 0.8vw;
    text-decoration: none;
    border-radius: 86px;
    transition: color 0.3s ease;
    height: 2vw;
    width: auto;
}

.active-link {
    color: black;
    background: white;
}

.inactive-link {
    color: white;
}


.register-button {
    height: 3.5vw;
    width: 7vw;
    padding: 1vw;
    background-image: linear-gradient(180deg, #0D75A7 18%, #052E41 100%);
    border-radius: 4vw;
    font-weight: bold;
    font-size: 1vw;
    border-color: white;
    border-width: 1px;
}

